.icone:hover{
    background-color: #17161670;
}



.obras-section {
  background-color: #1a1919;
  padding: 40px;
}

.obras-container {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.obraWall {
  position: relative;
  display: inline-block;
  margin-left: 13px;
  margin-top: 48px;
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease;
}

.obraWall:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgb(255, 255, 255);
}

.obraWall img {
  display: block;
  width: 100%;
  height: 208px;
}

.info-obra {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  text-align: center;
}

.obraWall:hover .info-obra {
  opacity: 1;
}

.info-obra h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.info-obra p {
  margin-bottom: 0;
  font-size: 16px;
  color: #666;
}

.linkGenero {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  transition: transform 0.3s ease;
  }

.linkGenero:hover {
  transform: translateY(-2px);
  background-color: #111;
}
  
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .recomendacao {
    margin-bottom: 20px;
  }
  
  .obras {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .obra {
    width: 205px;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  
  .obra:hover {
    box-shadow: 0px 3px 20px rgb(255, 255, 255);
    transform: translateY(-5px);
  }
  
  .obra img {
    width: 100%;
    height: 90%;
    display: block;
  }
  
  .obra h3 {
    margin: 5px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }  
